.env
cogs/__pycache__/01_Führerbunker.cpython-37.pyc
cogs/__pycache__/02_Among_Us.cpython-37.pyc
cogs/__pycache__/03_Coming_soon.cpython-37.pyc
cogs/__pycache__/Führerbunker.cpython-37.pyc
.vscode/launch.json
.vscode/settings.json
.vscode/sftp.json
json/admins.json
json/admins.json
